.container-subway {
  display: flex;
  border: 5px solid red;
  align-items: start;
  justify-content: center;
}

app-reader {
  position: fixed;
}

ng2-cytoscape {
  height: 100vh;
  float: left;
  width: 100%;
  position: relative;
}
