<div class="container-subway">
  <div
    class="container-cyto"
    style="height: 90%; width: 80%; float: left; overflow: auto; overflow-y: hidden"
  >
    <ng2-cytoscape
      [elements]="graphData"
      (select)="nodeChange($event)"
      (change)="nodeChange($event)"
      [percentRead]="rsvpService.percentRead()"
      [currentSection]="rsvpService.currentSectionRank"
      [currentSectionCompletion]="rsvpService.currentSectionCompletion"
    >
    </ng2-cytoscape>
  </div>
  <app-reader
    [rsvpService]="rsvpService"
  >
  </app-reader>
</div>
