<div
  *ngIf="!sessionService.completedSession"
  class="container--introduction"
>
  <div class="introduction">
    Read a passage, take a quiz—that’s it!
  </div>
  <button
    class="button--start"
    (click)="start()"
  >
    Start
  </button>
  <div class="fine-print">
    Thank you for being an <strong>anonymous</strong> participator in this research. I will not collect personal data.
    <br>
    <br>
    You can complete up to 5 quizzes but may only participate in the survey once. Each passage/quiz takes about 5 minutes to complete.
  </div>
</div>
<div
  *ngIf="sessionService.completedSession"
  class="container--outro"
>
</div>
