<div class="container--introduction">
  <div class="introduction">
    Welcome! By clicking START you agree to be an anonymous member of my research.
  </div>
  <button
    class="button--start btn btn-primary"
    (click)="start()"
  >
    START
  </button>
</div>
<li><a routerLink="/baseline/1" routerLinkActive="active">Baseline</a></li>
<li><a routerLink="/rsvp-basic/1" routerLinkActive="active">Basic</a></li>
<li><a routerLink="/rsvp-progress-bar/1" routerLinkActive="active">Progress Bar</a></li>
<li><a routerLink="/rsvp-section-mark/1" routerLinkActive="active">Section Mark</a></li>
<li><a routerLink="/rsvp-subway/1" routerLinkActive="active">Subway</a></li>
<li><a routerLink="/quiz" routerLinkActive="active">Quiz</a></li>
<li><a routerLink="/metrics" routerLinkActive="active">Metrics</a></li>
