.container-subway {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

app-reader {
  position: fixed;
  z-index: 1000;
}

.container-cyto {
  width: 100%;
  position: relative;
}
