.container--instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  width: 300px;
  margin-top: 8px;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: black;
}

.container--passage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.passage-title {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #1D002E;
  margin-top: 16px;
  max-width: 300px;
}

.passage-content {
  min-height: fit-content;
  max-height: 100%;
  margin-top: 8px;
  margin-bottom: 32px;
  background: #ebebeb;
  overflow-y: auto;
  width: 300px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  padding: 8px 18px 8px 8px;
  white-space: pre-line;
  border-radius: 2px;
  text-align: justify;
}

.button--play {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  border: none;
  margin-top: 8px;
  background: #80FFDB;
  border-radius: 64px;
  width: 160px;
  height: 64px;
  color: #000000;
}

.button--play:hover {
  background: #64DFDF;
}
