<div class="container--passage"
  *ngIf="!rsvpService.isCompleteSubject"
>
  <div class="passage-title">
    {{rsvpService.title}}
  </div>
  <div class="container--instructions"
    *ngIf="!didStart"
  >
    <div class="instructions">
      If you finish reading the following passage before the timer (~2 minutes), please wait for the next instruction.
    </div>
    <button class="button--play"
      (click)="playReader()"
    >
      Press to Start
    </button>
  </div>
  <div class="passage-content"
    *ngIf="displayPassage()"
  >
    {{rsvpService.prettyPassage()}}
  </div>
</div>
<app-passage-completion
  *ngIf="rsvpService.isCompleteSubject"
  [completionMessage]="'Passage complete.'"
></app-passage-completion>
