.container--reader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passage-title {
  margin-top: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.passage-content {
  display: flex;
  margin-top: 16px;
}

.container--instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;

  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
}

.button--play {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  border: none;
  margin-top: 8px;
  background: #80FFDB;
  border-radius: 64px;
  width: 160px;
  height: 64px;
  color: #000000;
}

.button--play:hover {
  background: #64DFDF;
}

.completion-message {
  color: #ebebeb;
}

#text-measurer {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
}

#text-measurer,
#text-left,
#text-center,
#text-right {
  font: 16px Roboto, sans-serif;
  line-height: 1;
}

#text-left {
  color: #000000;
}

#text-center {
  color: #F71735;
}

#text-right {
  color: #000000;
}

#container--styled-reader {
  position: relative;
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: column;
}

.reader-border {
  background: linear-gradient(90deg, #72EFDD 2.98%, #5E60CE 12.59%, #6540C7 19.9%, #6930C3 25.86%, #7400B8 31.65%, #6930C3 43.48%, #6540C7 57.57%, #5E60CE 74.61%, #72EFDD 95.56%);;
  height: 2px;
}

.crosshairs {
  height: 4px;
  background: none;
  display: flex;
  flex-direction: row;
}

.crosshairs-left {
  width: 56px;
}

.crosshairs-middle {
  background: linear-gradient(180deg, #7400B8 0%, #F71735 64.58%), #C4C4C4;
  width: 2px;
}

.crosshairs-bottom {
  transform: matrix(1, 0, 0, -1, 0, 0);
}

#text-joiner {
  width: 180px;
  height: 28px;
  background: none;
  padding: 5px 0;
  line-height: 1;
  vertical-align: middle;
}
