<div
  class="container--reader"
  id="container--reader"
>
  <div class="passage-title">{{rsvpService.title}}</div>
  <div class="passage-content">
    <span id="text-measurer"></span>
    <div id="container--styled-reader">
      <div class="reader-border">&nbsp;</div>
      <div class="crosshairs crosshairs-top">
        <span class="crosshairs-left">&nbsp;</span>
        <span class="crosshairs-middle">&nbsp;</span>
        <span class="crosshairs-right">&nbsp;</span>
      </div>
      <div id="text-joiner">
        <span id="text-left">&nbsp;</span>
        <span id="text-center"></span>
        <span id="text-right"></span>
      </div>
      <div class="crosshairs crosshairs-bottom">
        <span class="crosshairs-left">&nbsp;</span>
        <span class="crosshairs-middle">&nbsp;</span>
        <span class="crosshairs-right">&nbsp;</span>
      </div>
      <div class="reader-border">&nbsp;</div>
    </div>
  </div>
  <ng-content class="completion-meter"></ng-content>
  <button
    *ngIf="!didStart"
    class="button--play"
    (click)="playReader()"
  >
    Press to Start
  </button>
</div>
<app-passage-completion
  *ngIf="rsvpService.isCompleteSubject"
  [completionMessage]="'Passage complete.'"
></app-passage-completion>
