.container--progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passage-title {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fafafa;
  padding-top: 16px;
}

.passage-content {
  display: flex;
  margin-top: 16px;
  background: #ebebeb;
}

.container--instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;

  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
}

.button--play {
  border: none;
  margin-top: 8px;
  background: #A1E8AF;
  height: 64px;
  width: 160px;
  color: #000000;
  border-radius: 64px;
}

#button--play:hover {
  border: 2px solid #fafafa;
  color: #fafafa;
  font-weight: bold;
}

.completion-message {
  color: #ebebeb;
}

#text-measurer {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
}
#text-measurer,
#text-left,
#text-center,
#text-right
{
  font: 16px Roboto, sans-serif;
  line-height: 1;
}
#text-left { color: #000000; }
#text-center { color: #f00; }
#text-right { color: #000000; }

#border-wrapper {
  position: relative;
  width: 220px;
  height: 50px;
  border-top: 2px solid #f00;
  border-bottom: 2px solid #f00;
}

#crosshairs {
  width: 110px;
  height: 48px;
  border-right: 2px solid #ff0000;
  float:left;
}

#text-joiner {
  position: absolute;
  width: 220px;
  top: 10px;
  background: #ebebeb;
  padding: 5px 0;
  line-height: 1;
  vertical-align: middle;
}
