* {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completion-meter {
  margin-top: 8px;
}

.custom-slider {
  width: 100%;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  background: #ebebeb;
  height: 16px;
  border: 2px solid #7400b8;
  border-radius: 16px;
}

::ng-deep .custom-slider .ng5-slider
.ng5-slider-span.ng5-slider-bubble.ng5-slider-limit.ng5-slider-ceil {
  display: none;
}

::ng-deep .custom-slider .ng5-slider
.ng5-slider-span.ng5-slider-bubble.ng5-slider-model-value {
  display: none;
}

::ng-deep .custom-slider .ng5-slider
.ng5-slider-span.ng5-slider-bubble.ng5-slider-limit.ng5-slider-floor {
  display: none;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
  background: #7400b8;
  border-radius: 16px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 16px;
  height: 16px;
  top: 0px;
  background-color: #7400b8;
  border: 6px solid #7400b8;
  border-radius: 16px;
  margin-left: 2px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
  /*bottom: 14px;*/
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: green;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-tick {
  width: 18px;
  height: 18px;
  margin-left: 1px;
  border-radius: 18px;
  background: none;
  border: 3px solid #80ffdb;
  top: 2px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  border: solid 1px #80ffdb;
  background: #ebebeb;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-span.ng5-slider-bar-wrapper.ng5-slider-selection-bar {
  visibility: visible !important;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-span.ng5-slider-bar-wrapper.ng5-slider-selection {
  background: green;
}
